<!DOCTYPE html>
<html>
<head>
	<title>News Scraper</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class=col-lg-12>
				<div class="jumbotron">
					<h1 class="display-3">News. Fast.</h1>
					<img id="bigLogo" src="./assets/images/nslogo.png">
					<p class="lead">Welcome to NewsScraper. Simply hit the Scrape button and populate news.</p>
					<p class="lead">
					    <a class="btn btn-primary btn-lg" id="scrape" href="/scrape" role="button">Scrape</a>
					</p>
				</div>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">
    					<img src="./assets/images/nslogo3.png" height="30" width="40" alt="">
    					NewsScraper
  					</a>

				</nav>	
			</div>
		</div>
	</div>
	{{{body}}}
	
	<script type="text/javascript" src="app.js"></script>
</body>
</html>